spring:
  application:
    name: taskboard-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/taskboard
    username: taskboard
    password: taskboard
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
server:
  port: 8080
